<section id="banner">
  <div class="banner">
    <div class="banner-content">
      <div class="image-container">
        <img src="assets/desk.gif" alt="Animated Image" class="left-image" />
      </div>
      <h1>
        Bridging Systems and Design — A UI Developer and System Engineer at
        Heart.
      </h1>
      <p>
        Hi, I'm Shilpi Saha, a passionate Frontend Developer specializing in
        Angular, SEO, and crafting fast, user-friendly websites.
      </p>
      <div class="banner-buttons">
        <button (click)="scrollToAbout()" class="btn-primary">
          View My Work
        </button>
        <a href="assets/resume.pdf" class="btn-download">Download Resume</a>
      </div>
    </div>
  </div>
</section>

<section #aboutSection *ngIf="showAboutSection" id="about">
  <div class="banner">
    <div class="card" [@cardAnimation]>
      <div class="card-content">
        <p>
          As a System Engineer with over 2.5 years of hands-on experience, I
          specialize in building robust, scalable web applications using
          Angular. I am passionate about developing innovative solutions that
          enhance user experience and drive performance. My expertise extends to
          crafting dynamic, responsive front-end interfaces and applying
          technical SEO strategies to improve website visibility and traffic. I
          am a collaborative team player who thrives in fast-paced environments,
          continuously seeking opportunities to expand my technical knowledge.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="banner">
  <div class="banner-content">
    Skills
  </div>
  <div class="card-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          Angular
          <img
            class="img-flip"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
          />
        </div>
        <div class="flip-card-back">Card 1 Back</div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          Html-5
          <img
            class="img-flip"
            src="https://static.vecteezy.com/system/resources/previews/013/313/458/non_2x/html-icon-3d-rendering-illustration-vector.jpg"
          />
        </div>
        <div class="flip-card-back">Card 2 Back</div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          CSS
          <img
            class="img-flip"
            src="https://camo.githubusercontent.com/199d38eeb4d2e72bca9bdb11a7eb29a39049f45da886883e8520698e16db6a35/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f642f64352f435353335f6c6f676f5f616e645f776f72646d61726b2e737667"
          />
        </div>
        <div class="flip-card-back">Card 3 Back</div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          SEO
          <img
            class="img-flip"
            src="https://e7.pngegg.com/pngimages/393/589/png-clipart-search-engine-optimization-web-search-engine-marketing-organic-search-seo-text-service-thumbnail.png"
          />
        </div>
        <div class="flip-card-back">Card 4 Back</div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          SCSS
          <img
            class="img-flip"
            src="https://cdn.iconscout.com/icon/premium/png-256-thumb/scss-3-236294.png"
          />
        </div>
        <div class="flip-card-back">Card 5 Back</div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          Integrating REST Api
          <img
            class="img-flip"
            src="https://miro.medium.com/v2/resize:fit:440/1*J3G3akaMpUOLegw0p0qthA.png"
          />
        </div>
        <div class="flip-card-back">Card 6 Back</div>
      </div>
    </div>
  </div>
</section>


<div class="crd">
<details id="one">
  <summary>
    Card One
    <span class="arrow">V</span>
  </summary>
  <div class="content">
    <p>This is the detailed content of Card One. It smoothly expands using pure CSS and gracefully adapts to different screen sizes.</p>
  </div>
</details>

<details id="two">
  <summary >
    Card Two
    <span class="arrow">V</span>
  </summary>
  <div class="content">
    <p>This is additional information for Card Two. Enjoy the responsiveness and styling with zero JavaScript needed.</p>
  </div>
</details>

</div>
<div class="contact-form">
  <form class="minForm" [formGroup]="myorm">
    <div>
    <h3 class="fnt">Send me Hi</h3>
    <label class="lbl">Name</label>
    <input type="text" placeholder="Enter name" formControlName="name">
  </div>
  <div>
    <button class="btn" (click)="cntNavigate()">Submit</button>
  </div>
  </form>
</div>
